*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.figura {
  height: 90vh;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  background-color: #222;
}

.semi-circulo {
  height: 30vh;
  width: 60vh;
  border-radius: 30vh 30vh 0 0;
  background-color: #222;
}

.triangulo {
  width: 0;
  height: 0;
  border-bottom: 60vh solid #222;
  border-left: 30vh solid #f7f7f7;
  border-right: 30vh solid #f7f7f7;
}

.trapecio {
  width: 60vh;
  height: 0;
  border-bottom: 30vh solid #222;
  border-left: 20vh solid #f7f7f7;
  border-right: 20vh solid #f7f7f7;
}

.paralelograma {
  height: 25vh;
  width: 50vh;
  background-color: #222;
  transform: skewX(-20deg);
}

.hexagono {
  position: relative;
  height: 0;
  width: 60vh;
  border-top: 25vh solid #222;
  border-left: 15vh solid #f7f7f7;
  border-right: 15vh solid #f7f7f7;
}

.hexagono::before {
  content: "";
  position: absolute;
  height: 0;
  width: 60vh;
  border-bottom: 25vh solid #222;
  border-left: 15vh solid #f7f7f7;
  border-right: 15vh solid #f7f7f7;
  left: -50%;
  top: -50vh;
}

.gota {
  height: 45vh;
  width: 45vh;
  background-color: #222;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
}

.diamante {
  position: relative;
  width: 60vh;
  height: 0;
  border-bottom: 20vh solid #222;
  border-left: 15vh solid #f7f7f7;
  border-right: 15vh solid #f7f7f7;
  top: -20vh;
}

.diamante::before {
  content: "";
  position: absolute;
  border-top: 40vh solid #222;
  border-left: 30vh solid #f7f7f7;
  border-right: 30vh solid #f7f7f7;
  top: 20vh;
  left: -50%;
}

.tacha {
  position: relative;
  height: 40vh;
  width: 10vh;
  background-color: #222;
  transform: rotate(45deg);
}

.tacha::after {
  content: "";
  position: absolute;
  height: 40vh;
  width: 10vh;
  background-color: #222;
  transform: rotate(90deg);
}
