*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.figura {
  height: 90vh;
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo {
  height: 50vh;
  width: 50vh;
  border-radius: 50%;
  background-color: #222;
}

.semi-circulo {
  height: 30vh;
  width: 60vh;
  border-radius: 30vh 30vh 0 0;
  background-color: #222;
}

.triangulo {
  width: 0;
  height: 0;
  border-bottom: 60vh solid #222;
  border-left: 30vh solid #f7f7f7;
  border-right: 30vh solid #f7f7f7;
}
